body {
    
    font-family: 'Roboto', sans-serif;
}

.navbar{
    font-size: 1.vw;

  

}
.nav-link{
 
}
.nav-link:hover{
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
}
.navbar-brand{
    font-family: 'Montserrat', sans-serif;
}
.navbar-brand:hover{
  
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
}


#home{
    background-color: #37E2D5;
    background-image: url("cloud.png");
    font-family: 'Patrick Hand', cursive;

    
}
.img{
margin-top: 2%;
max-width: 20%;
margin-left: ;


}
.img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.img {
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(1vw 1vw 1vw  black);
    -webkit-filter: drop-shadow(1vw 1vw 1vw  black);
}
.uhome{
    text-align: center;
   

}
.mhome{
    text-align: center;
    margin-bottom: 2%;
}


.lhome{
    margin-top: 2%;
    text-align: center;
    padding: 3%;
   
    
}
.name{
    margin-top: 1%;
font-size: 4vw;
font-family: 'Patrick Hand', cursive;
color:#4C3575;

}
.name:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.college{
    font-size: 2vw;
}
.college:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.degree{
    font-size: 1.5vw;
}
.degree:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.para1{
    font-size: 1.5vw;

    margin-left: 20%;
    margin-right: 20%;
  
}
.para1:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.aboutme{
    font-size: 3vw;
    color:#4C3575;
    
}
.aboutme:hover{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}





/*  Home Ends Here ------------------------------------------*/


/*  About starts Here ------------------------------------------*/ 



#about{
height: auto;
}
.uabt{
    text-align: center;
}

.headname{
    font-weight: bolder;
    font-size: 4vw;
    color: #4C3575;
    font-family: 'Righteous', cursive;
}
.headname:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.line1{
    font-size: 1vw;
    font-family: 'Righteous', cursive;
}
.line1:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.labt{

    margin-bottom: 5%;
}
.labt-row1{
    padding:5%;
}
.labt-row2{
    padding:5%;
}
.labt-row3{
    padding:5%;
}
.labt-row4{
    padding:5%;
}

.btn{
   min-width: 70%;
   max-height: 85%;
   font-size: 1.5vw;
   background-color: orange;
   border-radius: 15px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   -ms-border-radius: 15px;
   -o-border-radius: 15px;
}
.btn:hover{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}
.img1{
    max-width: 3vw;
}
.img1-cpp{
    max-width: 3vw;
}
.bt1{
float: left;
width: 25%;
max-height: 55%;
text-align: center;
}
.bt2{
    float: left;
    width: 25%;

    text-align: center;
    }
    .bt3{
        float: left;
        width: 25%;
        text-align: center;
        }
        .bt4{
            float: left;
            width: 25%;
            text-align: center;
            }

/*  About Ends Here ------------------------------------------*/ 



/*  Youtube STrats Here ------------------------------------------*/


#youtube{
    background-color:#7DDEF6;
}
.ytlogo{
    text-align: center;
}
.ytlogo-img{
    max-width:20% ;
}
.ytlogo-img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.uyt-des{
    text-align: center;

}
.description{
    font-family: 'Righteous', cursive;
    font-size: 1vw;
    margin-left: 10%;
    margin-right: 10%;

}
.description:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.lyt{
   
  margin-left: 15%;
  margin-right: 15%;
 
    
}


#carouselExampleIndicators{
    text-align: center;
  
}

.d-block{
    max-width: 70%;
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(1vw 1vw 1vw  black);
    -webkit-filter: drop-shadow(1vw 1vw 1vw  black);
}
.d-block:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.carousel-inner{
    text-align: center;
    padding: 5%;
 
}
.carousel-item{
    text-align: center;
    
    margin-left: 15%;

}


/*  Youtube  Ends Here ------------------------------------------*/

/* Profiles starts Here  ----------------------------*/


#profile{
background-color:;
}


.up{
    text-align: center;
    padding: 15% ;
  font-family: 'Righteous', cursive;
}
.lp{
    text-align: center;
    padding: 15%;
    font-family: 'Righteous', cursive;
}

.up-codep{
    display: table-row;

   
}

.codep{

    display: table-cell;
    
    width: 33.3%;

padding: 2%;
}
.codep1:hover{
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}
.codep2:hover{
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}

.codep3:hover{
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}


.codep1{
    color: black;
    border-radius: 5%;
    padding: 5%;
    background-color: orange;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(1vw 1vw 1vw  black);
    -webkit-filter: drop-shadow(1vw 1vw 1vw  black);
}
.codep2{
    color: black;
    padding: 5%;
    border-radius: 5%;
    background-color:#7DDEF6 ;
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(1vw 1vw 1vw  black);
    -webkit-filter: drop-shadow(1vw 1vw 1vw  black);
}
.codep3{
    color: black;
    border-radius: 5%;
    padding: 5%;
    background-color: orange;
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(1vw 1vw 1vw  black);
    -webkit-filter: drop-shadow(1vw 1vw 1vw  black);
}
.up-head-img{
    max-width: 20%;
}
.up-head-img:hover{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
.up-head-name{
    font-size: 4vw;
    
}
.up-head-name:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.lp-head-name{
    font-size: 4vw;
    margin-top: 2.5%;
}
.lp-head-img:hover{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
.lp-head-name:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.lp-socialp{
  
    padding: 10%;
}
.socialp{
    font-size:small;
 width: 33.3%;
 display: table-cell;
 padding: 2%;
}
.socialp1{
    color: black;
    border-radius: 5%;
    padding: 5%;
    background-color:#7DDEF6;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(1vw 1vw 1vw  black);
    -webkit-filter: drop-shadow(1vw 1vw 1vw  black);
}
.socialp2{
    color: black;
    padding: 5%;
    border-radius: 5%;
    background-color:orange;
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(1vw 1vw 1vw  black);
    -webkit-filter: drop-shadow(1vw 1vw 1vw  black);
}
.socialp3{
    color: black;
    border-radius: 5%;
    padding: 5%;
    background-color:#7DDEF6;
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(1vw 1vw 1vw  black);
    -webkit-filter: drop-shadow(1vw 1vw 1vw  black);
}
.lp-head-img{
    max-width: 20%;
}
.lp-socialp{
    display: table-row;
    margin-top: 15%;
    
}

.pname{
    font-size: 3vw;
    margin-top: 4%;
    font-weight: bold;
}
.pname:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
/* Profiles Ends Here  ----------------------------*/

/* Hobbies Starts Here  ----------------------------*/

#hobbies{
    font-family: 'Righteous', cursive;

   background-color: orange;
   color: white;
}


.uhobbies{
    text-align: center;
    margin-right: 2%;
    padding: 2%;
}
.hobbieshead{
    font-size: 5vw;
    margin-top: 4%;
    margin-bottom: 1%;
    background-color:#7DDEF6;
    margin-left: 38%;
    margin-right: 38%;
    color: black;
    border-radius: 8%;
    -webkit-border-radius: 8%;
    -moz-border-radius: 8%;
    -ms-border-radius: 8%;
    -o-border-radius: 8%;
}
.hobbieshead:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.hobbiesdef{
    font-size: 1.5vw;
    margin-top:5%;
    
}
.hobbiesdef:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.carousel-item{
  
   
}
.image{
    max-width: 5%;
    
}
.d-block-1{
    max-width: 70%;
    margin-right: 30%;
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(1vw 1vw 1vw  black);
    -webkit-filter: drop-shadow(1vw 1vw 1vw  black);
}
.d-block-1:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    
}


.lhobbies{
margin-left: 15%;
margin-right: 15%;
background-color: orange;
display: table-row;

}
.carousel-inner{
    
}

.hb1{
display: table-cell;

}
.hobimg1{
    max-width: 90%;
    border-radius: 5%;
    margin-left: 2%;
}
.hobimg1:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.hobimg2:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.hobimg3:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.hobimg2{
    max-width: 90%;
    border-radius: 5%;
    margin-left: 2%;
}
.hobimg3{
    max-width: 90%;
    border-radius: 5%;
    margin-left: 2%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
.hob1{
   
    display: table-cell;
    margin-left: 5%;
    width: 33.3%;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
.hob2{
    display: table-cell;
    margin-left: 5%;
    width: 33.3%;
}
.hob3{
    display: table-cell;
    margin-left: 5%;
    width: 33.3%;
}
.hobname{
    text-align: center;
    font-family: 'Righteous', cursive;
   
    font-size:1.2vw ;
    color: white;
}
.hobname:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.card{


}










/* Hobbies Ends Here  ----------------------------*/

/* Contact starts Here  ----------------------------*/


#contact{


    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    margin-top: 5%;
}

.form{


    
    background-color:#7DDEF6 ;
    padding: 3%;
    text-align: left;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: 11%;
}
.realform{
  
    
}
.headcontact{
    background-color: white;
}
.headcon{
    font-size: 3vw;
}
.form-group{

  
    color: white;
   max-width: ;
   
 
}
.form-control{
   
    max-height: 25%;

}
.buttonsub{
    text-align: center;
   
}
.btn2{
    background-color: orange;
}
.buttonsub.btn{
    max-width: 15%;
}
#exampleInputEmail1{
   
}
#exampleFormControlInput1{
    
}

/* Contact Ends Here  ----------------------------*/
